#header-nav {
	background-color: darkgray;
	border-radius: 0;
	border: 2px solid black;
}
#nav-list li {
	background-color: white;
	text-align: center;
		border-radius: 0;
	border: 1px solid black;
}
#reallytall {
	height: 1000px;
	background-color: darkgray;
}